{% extends "base.html" %}
{% block title %}Compliments{% endblock %}

{% block content %}
    <style>
        body {
            color: pink;
            background-color: gray;
            font-size: 14px;
            font-family: Arial;
        }
    </style>
    

    Hi {{ person }}! I think you're:
    <ul>
        {% for compliment in compliments %}
            <li> {{ compliment }} </li>
        {% endfor %}
    </ul> 
    <form action="/game">
        <label>Do you want to play Madlibs?
            <input type="radio" name="playgame" value="Yes">Yes</input>
            <input type="radio" name="playgame" value="No">No</input>
        </label>
            <input type="submit">
    </form>
{% endblock %}
